.layout_section {
    display: grid;
    grid-template-areas:
    "form p1"
    "form p2"
    "form p3";
    justify-content: center;
    gap: 1rem;
}

.formatacao_form {
    grid-area: form;
    height: auto;
    border-radius: 2rem;
    background-color: #141622;
    box-shadow: 0 0 8px rgba(58, 247, 247, 0.2);
    border: 1px solid #3af7f7;
    width: 35vw;
}

.cardone {grid-area: p1;}
.cardtwo {grid-area: p2;}
.cardtree {grid-area: p3;}

.formatacao_cards {
    margin: 0rem auto;
    width: 35vw;
    border-radius: 2rem;
    background-color: #141622;
    box-shadow: 0 0 8px rgba(58, 247, 247, 0.2);
    border: 1px solid #3af7f7;
    padding: 1rem 2rem;
}

.title_cards {
    display: flex;
    justify-content: start;
    align-items: center;
}

.layout_section label {
    display: block;
    margin: 1rem 0;
}

.layout_section input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 7px;
    background-color: #141622;
    box-shadow: 0 0 8px rgba(58, 247, 247, 0.2);
    border: 1px solid #3af7f7;
    color: #DBE9F4;
}

.layout_section form {
    padding: 2rem;
}

select {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 7px;
    background-color: #141622;
    box-shadow: 0 0 8px rgba(58, 247, 247, 0.2);
    border: 1px solid #3af7f7;
    color: #DBE9F4;
}

.button {
    margin-top: 3rem;
}

.layout_section button {
    width: 100%;
    height: 2rem;
    box-shadow: 0 0 8px rgba(58, 247, 247, 0.2);
    border: 1px solid #3af7f7;
    color: #DBE9F4;
    background: linear-gradient(90deg, #00C9FF, #9246FF);
    border-radius: 7px;
}

.layout_section button:hover {
    width: 100%;
    height: 2rem;
    box-shadow: 0 0 8px rgba(58, 247, 247, 0.2);
    border: 1px solid #3af7f7;
    color: #3af7f7;
    background: #141622; 
    border-radius: 7px;
    cursor: pointer;
}

@media (max-width: 950px) {
    .layout_section {
    display: grid;
    grid-template-areas:
    "form form"
    "p1 p1"
    "p2 p2"
    "p3 p3";
}

.formatacao_form {
    width: 42vw;
}
    
}

@media (max-width:768px){
    .formatacao_form {
    width: 60vw;
}

.formatacao_cards {
    width:48vw;
}

.cards-icon{
    width: 3rem;
    height:3rem ;
}

.fonte_titulos {
    font-size: 1.2rem;;
    margin-left: 1rem;
}

}