dialog{
    width: 40%;
    min-width: 300px;
    padding: 20px;
    padding-top: 0px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


input, select, textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

button:hover { background-color: #0056b3; }

button[type="button"]{ background-color: #f5b049 !important; }
button[type="button"]:hover{ background-color: #ac7727; }

dialog button{ margin-top: 20px;}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

dialog p.erro{
    padding: 10px;
    background-color: rgb(255, 190, 190);
    color: rgb(86, 2, 2);
    text-align: center;
}