.cardbox-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,25rem));
    justify-content: center;
    width: 85%;
    margin: 4rem auto;
    gap: 2rem;
}

.cardbox {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #3AF7F7;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.voidCard {
    width: 80%;
    margin:10rem auto;
    text-align: center;
}

.cardbox img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: top;
}

.cardbox:hover,
.btn-cadEvento:hover,
.btn-inscrever:hover,
.btn-CancelarEnviarEvento:hover,
.btn-EnviarEvento:hover {
    transform: scale(1.05);
}

.btn-cadEvento {
    background-color: #6B8BFF;
    border-radius: 8px;
    border: 2px solid #6462f5;
    transition: transform 0.3s ease;
    color: #DBE9F4;
    text-decoration: none;
    font-weight: bolder;
}

.event-info {
    text-align: center;
}

.event-info-info {
    display: flex;
    margin: 0 2rem;
    gap: 1rem;
}

.event-info h2 {
    font-size: 1.5rem;
    text-wrap: wrap;
}

.event-info-info  p {
    font-size: 1rem;
    margin-top: auto;
}

.event-info-info > p:nth-child(2) {
    font-size: 1.2rem;
}

.event-info-icon{
    width: 1.2rem;
    height: 1.2rem;
    color: #6462f5;
}

.btn-inscrever {
    width: 12rem;
}

@media (max-width: 768px) {
    .cardbox {
        width: 90%;
    }

    .btn-cadEvento {
        padding: 10px 18px;
        font-size: 0.9rem;
    }
}

.btn-inscrever {
    background-color: #6B8BFF;
    border-radius: 8px;
    border: 2px solid #6462f5;
    color: #DBE9F4;
    text-decoration: none;
    font-weight: bold;
}

.btn-EnviarEvento {
    background-color: #54ad88;
    border-radius: 8px;
    border: 2px solid #37994c;
    padding: 10px;
    color: #DBE9F4;
    text-decoration: none;
    font-weight: bold;
    margin: 8px;
    transition: transform 0.3s ease;
}

.btn-CancelarEnviarEvento {
    background-color: #bb3b3b;
    border-radius: 8px;
    border: 2px solid #922d2d;
    padding: 10px;
    color: #DBE9F4;
    text-decoration: none;
    font-weight: bold;
    margin: 8px;
    transition: transform 0.3s ease;
}

/* MODAL */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Caixa do modal */
  .popup {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }

  /* Exibir quando "ativado" */
  #abrir-popup:checked + .overlay {
    display: flex;
  }

  .popup h2 {
    margin-top: 0;
    text-align: center;
  }

  .popup form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 90%;
  }

  .fechar {
    display: block;
    text-align: right;
    color: #888;
    text-decoration: none;
    font-size: 20px;
  }

  .fechar:hover {
    color: #000;
  }

  .botao-enviar {
    background-color: #101820;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }

  .botao-enviar:hover {
    background-color: #303840;
  }