.inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    background: linear-gradient(90deg,rgb(0, 179, 255), rgb(167, 30, 167));
    padding: 1rem;
    width: auto;
    height: 2rem;
    border-radius: 13px;
    margin-top: 5rem;
}

.inicial h1 {
    background: linear-gradient(90deg,rgb(0, 179, 255), rgb(167, 30, 167));
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

.inicial h2 {
    color: #bfbfbf;
}

.inicial p {
    width: 50rem;
    text-align: center;
    font-size: 1rem;
    color: #bfbfbf;
}

.link {
    display: flex;
    gap: 1rem;
}

.link a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 12rem;
    border-radius: 8px;
    margin: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.link a:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background: linear-gradient(90deg, rgb(0, 179, 255), rgb(0, 90, 168));
}

.arrowicon {
    width: auto;
    height: 1rem;
}

.link a:nth-child(2) {
    color:rgb(0, 179, 255);
    background-color: white;
    border: 3px solid rgb(0, 179, 255);
}

@media (max-width: 768px) {
    .inicial p {
    width: 28rem;
    font-size: 0.8rem;
    text-wrap: wrap;
}
}

@media (max-width: 480px) {
    .inicial p {
    width: 18rem;
}
    .link a {
    padding: 8px;
    width: 10rem;
    margin: 8px;
}
}