.inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    background: linear-gradient(90deg,rgb(0, 179, 255), rgb(167, 30, 167));
    padding: 1rem;
    width: auto;
    height: 2rem;
    border-radius: 13px;
    margin-top: 5rem;
}

.inicial h1 {
    background: linear-gradient(90deg,rgb(0, 179, 255), rgb(167, 30, 167));
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

.inicial h2 {
    color: #bfbfbf;
}

.inicial p {
    width: 50rem;
    text-align: center;
    font-size: 1rem;
    color: #bfbfbf;
}

.link {
    display: flex;
    gap: 1rem;
}

.link a {
    text-decoration: none; /tira o sublinhado do link/
    color: white;
    padding: 10px;
    width: 12rem;
    border-radius: 8px;
    margin: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.link a:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background: linear-gradient(90deg, rgb(0, 179, 255), rgb(0, 90, 168));
}

.arrowicon {
    width: auto;
    height: 1rem;
}

.link a:nth-child(2) {
    color:rgb(0, 179, 255);
    background-color: white;
    border: 3px solid rgb(0, 179, 255);
}

@media (max-width: 768px) {
    .inicial p {
    width: 28rem;
    font-size: 0.8rem;
    text-wrap: wrap;
}
}

@media (max-width: 480px) {
    .inicial p {
    width: 18rem;
}

    .link a {
    padding: 8px;
    width: 10rem;
    margin: 8px;
}
}

.modal {
    display: none; /* escondido por padrão */
    position: fixed;
    z-index: 1000; /deixa o elemento fixo na frente, da prioridade na pilha/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content { /* onde agrupa todo o conteúdo do formulário*/
    background-color: #0f0f1a;
    margin: 10% auto;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 179, 255, 0.4);
    border: 1px solid rgba(0, 179, 255, 0.4);
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, rgb(0, 179, 255), rgb(167, 30, 167));
    -webkit-background-clip: text; /o text recorta o gradiente no texto/
    -webkit-text-fill-color: transparent; /é preciso do webkit para funcionar em outros navegadores, deixa o texto transparente para o gradiente aparecer por cima/
}

.modal-content input { /* só o espaço onde o usuário digita, campo branco*/
    width: 100%;
    max-width: 95%; /* evita que ultrapasse o limite do contêiner */
    box-sizing: border-box; /* inclui padding e borda no cálculo do width */
    padding: 0.6rem;
    margin: 0.5rem;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #1a1a2e;
    color: white;
}


.modal-content button {
    width: 100%;
    padding: 0.7rem;
    background: linear-gradient(90deg, rgb(0, 179, 255), rgb(167, 30, 167));
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 0.5rem;
    transition: transform 0.2s ease; /* traz o botão para a frente*/
}

.modal-content button:hover {
    transform: scale(1.05); /* traz o botão com suavidade*/
}

.fechar {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

#mensagemLogin
#mesagemCadastro {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}